@model BudgetInputViewModel

<input asp-for="Id" hidden />

<div class="form-group row">
    <div class="col-lg-6">
        <label asp-for="BudgetTypeId" class="label"></label>
        <input asp-for="BudgetTypeId" hidden />
        <select name="select_types" class="form-control kt-select select2-types"></select>
    </div>
    <div class="col-lg-6">
        <label asp-for="BudgetTitleId" class="label"></label>
        <input asp-for="BudgetTitleId" hidden />
        <select name="select_titles" class="form-control kt-select select2-titles"></select>
    </div>
</div>

<div class="form-group row">
    <div class="col-lg-6">
        <label asp-for="Group" class="label"></label>
        <input asp-for="Group" hidden />
        <select name="select_groups" class="form-control kt-select select2-groups">
            @foreach (var item in ConstantHelpers.Budget.Group.VALUES)
            {
                <option value="@item.Key">@item.Value</option>
            }
        </select>
    </div>
    <div class="col-lg-6">
        <label asp-for="ProjectFormulaId" class="label"></label>
        <input asp-for="ProjectFormulaId" hidden />
        <select name="select_formulas" class="form-control kt-select select2-formulas"></select>
    </div>
</div>

<div class="form-group row">
    <div class="col-lg-6">
        <label asp-for="Code" class="label"></label>
        <input asp-for="Code" class="form-control" required />
    </div>
    <div class="col-lg-6">
        <label asp-for="MeasurementUnitId" class="label"></label>
        <select asp-for="MeasurementUnitId" class="form-control kt-select2 select2-measurement-units" required></select>
    </div>
</div>
<div class="form-group row">
    <div class="col-lg-12">
        <label asp-for="Description" class="label"></label>
        <input asp-for="Description" class="form-control" required />
    </div>
</div>
<div class="form-group row">
    <div class="col-lg-6">
        <label asp-for="SupplyFamilyId" class="label"></label>
        <select asp-for="SupplyFamilyId" class="form-control kt-select2 select2-supply-families" required></select>
    </div>
    <div class="col-lg-6">
        <label asp-for="SupplyGroupId" class="label"></label>
        <select asp-for="SupplyGroupId" class="form-control kt-select2 select2-supply-groups"></select>
    </div>
</div>
<div class="form-group row">
    <div class="col-lg-4">
        <label asp-for="Metered" class="label"></label>
        <input asp-for="Metered" class="form-control" required />
    </div>
    <div class="col-lg-4">
        <label asp-for="SaleUnitPrice" class="label"></label>
        <input asp-for="SaleUnitPrice" class="form-control" required />
    </div>
</div>