@model EquipmentProviderViewModel

<input asp-for="Id" hidden />

<div class="form-group row">
    <div class="col-lg-6 worker_group">
        <label asp-for="ProviderId" class="label"></label>
        <input asp-for="ProviderId" hidden />
        <select name="select_provider" class="form-control kt-select select2-providers"></select>
    </div>

</div>