@model EquipmentMachineryTransportPartViewModel

<input asp-for="Id" hidden />

<div class="form-group row">
    <div class="col-lg-6 worker_group">
        <label asp-for="EquipmentProviderId" class="label"></label>
        <input asp-for="EquipmentProviderId" hidden />
        <select name="select_provider" class="form-control kt-select select2-providers"></select>
    </div>
    <div class="col-lg-6 worker_group">
        <label asp-for="EquipmentMachineryTypeTransportId" class="label"></label>
        <input asp-for="EquipmentMachineryTypeTransportId" hidden />
        <select name="select_soft" class="form-control kt-select select2-softs"></select>
    </div>
    <div class="col-lg-12 worker_group">
        <label asp-for="EquipmentMachineryTransportId" class="label"></label>
        <input asp-for="EquipmentMachineryTransportId" hidden />
        <select name="select_eqsoft" class="form-control kt-select select2-eqsofts"></select>
    </div>
    <div class="col-lg-6 worker_group">
        <label asp-for="Month" class="label"></label>
        <input asp-for="Month" hidden />
        <select name="select_month" class="form-control kt-select select2-months" data-placeholder="Mes Folding">
            @foreach (var item in ConstantHelpers.EquipmentMachinery.EquipmentMachineryOperator.MONTH)
            {
                if (item.Key != 9999)
                {<option value="@item.Key">@item.Value</option>}
            }
        </select>
    </div>
    <div class="col-lg-6 worker_group">
        <label asp-for="Year" class="label"></label>
        <input asp-for="Year" hidden />
        <select name="select_year" class="form-control kt-select select2-years" data-placeholder="Año">
        </select>

    </div>
    @*<div class="col-lg-6 worker_group">
            <label asp-for="UserId" class="label"></label>
            <input asp-for="UserId" hidden />
            <select name="select_user" class="form-control kt-select select2-users"></select>
        </div>*@
</div>