@model StockOutputVoucherViewModel

<input asp-for="Id" hidden />

<div class="form-group row">
    <div class="col-lg-12 row">
        <div class="col-lg-8">
            <label asp-for="VoucherDate" class="label"></label>
            <div class="input-group">
                <input asp-for="VoucherDate" class="form-control datepicker" required />
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">
                        <i class="fa fa-calendar"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <label asp-for="WasDelivered" class="label"></label>
            <input asp-for="WasDelivered" hidden />
            <select name="select_wasdelivered" class="form-control kt-select select2-wasdelivered" required>
                <option value="false" selected>Pendiente</option>
                <option value="true">Entregado</option>
            </select>
        </div>
    </div>
    <div class="col-lg-12 row">
        <div class="col-lg-6">
            <label asp-for="SewerGroupId" class="label"></label>
            <input asp-for="SewerGroupId" hidden />
            <select name="select_sewergroup" class="form-control kt-select select2-sewergroups" data-placeholder="Cuadrilla"></select>
        </div>
        <div class="col-lg-6">
            <label asp-for="ProjectPhaseId" class="label"></label>
            <input asp-for="ProjectPhaseId" hidden />
            <select name="select_projectphase" class="form-control kt-select select2-projectphases" data-placeholder="Fase"></select>
        </div>
    </div>
    <div class="col-lg-12 row">
        <div class="col-lg-12">
            <label asp-for="PickUpResponsible" class="label"></label>
            <input asp-for="PickUpResponsible" class="form-control" />
        </div>
    </div>
    <div class="col-lg-12 row">
        <div class="col-lg-12">
            <label asp-for="Observation" class="label"></label>
            <input asp-for="Observation" class="form-control" />
        </div>
    </div>
</div>
