<div class="form-group row">
    <div class="col-lg-4">
        <label class="label">Semana</label>
        <select id="week_filter" class="form-control kt-select2 select2-weeks">
            <option>--Seleccione una Semana--</option>
        </select>
    </div>
    <div class="col-lg-4">
        <label class="label">Jefe de Frente</label>
        <select id="workfronthead_filter" class="form-control kt-select2 select2-work-front-heads2">
            <option>--Seleccione un Jefe de Frente--</option>
        </select>
    </div>
    <div class="col-lg-4">
        <label class="label">Cuadrillas</label>
        <select id="sewergroup_filter" class="form-control kt-select2 select2-sewergroups2">
            <option>--Seleccione una Cuadrilla --</option>
        </select>
    </div>
</div>