@model MeteredsRestatedByPartidaViewModel


<input asp-for="Id" hidden />

<div class="form-group row">
    <div class="col-lg-6">
        <label asp-for="WorkFrontHeadId" class="label"></label>
        <input asp-for="WorkFrontHeadId" hidden />
        <select name="select_work_front_heads" class="form-control kt-select select2-work-front-heads"></select>
    </div>
    <div class="col-lg-6">
        <label asp-for="BudgetTitleId" class="label"></label>
        <input asp-for="BudgetTitleId" hidden />
        <select name="select_titles" class="form-control kt-select select2-titles"></select>
    </div>
</div>

<div class="form-group row">
    <div class="col-lg-6">
        <label asp-for="WorkFrontId" class="label"></label>
        <input asp-for="WorkFrontId" hidden />
        <select name="select_work_fronts" class="form-control kt-select select2-work-fronts"></select>
    </div>
    <div class="col-lg-6">
        <label asp-for="SewerGroupId" class="label"></label>
        <input asp-for="SewerGroupId" hidden />
        <select name="select_sewer_groups" class="form-control kt-select select2-sewer-groups"></select>
    </div>
</div>

<div class=" form-group row">
    <div class="col-lg-6">
        <label asp-for="ItemNumber" class="label"></label>
        <input asp-for="ItemNumber" class="form-control" />
    </div>
</div>

<div class=" form-group row">
    <div class="col-lg-6">
        <label asp-for="Description" class="label"></label>
        <br>
        <textarea asp-for="Description" rows="5" cols="120"></textarea>
    </div>
</div>

<div class=" form-group row">
    <div class="col-lg-4">
        <label asp-for="Unit" class="label"></label>
        <input asp-for="Unit" hidden />
        <select name="select_units" class="form-control kt-select select2-units">
            <option value="">Sin Unidad</option>
            <option value="km">km</option>
            <option value="m">m</option>
            <option value="h">h</option>
            <option value="und">und</option>
            <option value="m2">m2</option>
            <option value="m3">m3</option>
            <option value="dia">día</option>
            <option value="Glb">Glb</option>
        </select>
    </div>
    <div class="col-lg-2">
        <label asp-for="Metered" class="label"></label>
        <input asp-for="Metered" class="form-control" />
    </div>
</div>
