@model ProcessTypeDocumentViewModel

<input asp-for="Id" hidden />

<input asp-for="ProcessId" hidden />
<div class="form-group row">
    <div class="col-lg-6">
        <label asp-for="DocumentType" class="label"></label>
        <input asp-for="DocumentType" class="form-control" />
    </div>
    <div class="col-lg-6">
        <label asp-for="Code" class="label"></label>
        <input asp-for="Code" class="form-control" />
    </div>
</div>

