@model CementViewModel

<input asp-for="Id" hidden />

<div class="form-group row">
    <div class="col-lg-6">
        <label asp-for="ProjectFormulaId" class="label"></label>
        <input asp-for="ProjectFormulaId" hidden />
        <select name="select_formulas" class="form-control kt-select select2-formulas"></select>
    </div>
    <div class="col-lg-6">
        <label asp-for="BudgetTitleId" class="label"></label>
        <input asp-for="BudgetTitleId" hidden />
        <select name="select_titles" class="form-control kt-select select2-titles"></select>
    </div>
</div>

<div class="form-group row">
    <div class="col-lg-6">
        <label asp-for="ProjectPhaseId" class="label"></label>
        <input asp-for="ProjectPhaseId" hidden />
        <select name="select_phases" class="form-control kt-select select2-phases"></select>
    </div>
    <div class="col-lg-6">
        <label asp-for="WorkFrontId" class="label"></label>
        <input asp-for="WorkFrontId" hidden />
        <select name="select_work_fronts" class="form-control kt-select select2-work-fronts"></select>
    </div>
</div>

<div class=" form-group row">
    <div class="col-lg-6">
        <label asp-for="ItemNumber" class="label"></label>
        <input asp-for="ItemNumber" class="form-control" />
    </div>
</div>

<div class=" form-group row">
    <div class="col-lg-6">
        <label asp-for="Description" class="label"></label>
        <br>
        <textarea asp-for="Description" rows="5" cols="100"></textarea>
    </div>
</div>

<div class=" form-group row">
    <div class="col-lg-4">
        <label asp-for="Unit" class="label"></label>
        <input asp-for="Unit" hidden />
        <select name="select_units" class="form-control kt-select select2-units">
            <option value="">Sin Unidad</option>
            <option value="km">km</option>
            <option value="m">m</option>
            <option value="h">h</option>
            <option value="und">und</option>
            <option value="m2">m2</option>
            <option value="m3">m3</option>
            <option value="dia">día</option>
            <option value="Glb">Glb</option>
            <option value="kg">kg</option>
        </select>
    </div>
</div>

<div class=" form-group row">
    <div class="col-lg-6">
        <label asp-for="ContractualMeteredTypeOne" class="label"></label>
        <input asp-for="ContractualMeteredTypeOne" class="form-control" />
    </div>
    <div class="col-lg-6">
        <label asp-for="ContractualMeteredTypeFive" class="label"></label>
        <input asp-for="ContractualMeteredTypeFive" class="form-control" />
    </div>
</div>

<div class=" form-group row">
    <div class="col-lg-6">
        <label asp-for="ContractualRestatedTypeOne" class="label"></label>
        <input asp-for="ContractualRestatedTypeOne" class="form-control" />
    </div>
    <div class="col-lg-6">
        <label asp-for="ContractualRestatedTypeFive" class="label"></label>
        <input asp-for="ContractualRestatedTypeFive" class="form-control" />
    </div>
</div>