@model WarehouseTypeViewModel

<input asp-for="Id" hidden />

<div class="form-group row">
    <div class="col-lg-12 row">
        <label asp-for="Name" class="label"></label>
        <input asp-for="Name" class="form-control" />
    </div>
</div>