@model DocumentTypeViewModel

<input asp-for="Id" hidden />

<div class="form-group row">
    <div class="col-lg-6">
        <label asp-for="Type" class="label"></label>
        <input asp-for="Type" class="form-control" />
    </div>
    <div class="col-lg-6">
        <label asp-for="Code" class="label"></label>
        <input asp-for="Code" class="form-control" />
    </div>
</div>