@model OrderItemViewModel
<!--
    <div data-repeater-item class="form-group row align-items-center">
        <input asp-for="Id" hidden />
        <div class="col-md-3">
            <div class="kt-form__group--inline">
                <div class="kt-form__label">
                    <label asp-for="RequestItemId" class="kt-label m-label--single"></label>
                </div>
                <div class="kt-form__control">
                    <select asp-for="RequestItemId" class="form-control kt-select2 select2-request-items" required data-placeholder="Material"></select>
                </div>
            </div>
            <div class="d-md-none kt-margin-b-10"></div>
        </div>
        <div class="col-md-3">
            <div class="kt-form__group--inline">
                <div class="kt-form__label">
                    <label asp-for="SupplyId" class="kt-label m-label--single"></label>
                </div>
                <div class="kt-form__control">
                    <select asp-for="SupplyId" class="form-control kt-select2 select2-supplies" required data-placeholder="Insumo"></select>
                </div>
            </div>
            <div class="d-md-none kt-margin-b-10"></div>
        </div>
        <div class="col-md-1">
            <div class="kt-form__group--inline">
                <div class="kt-form__label">
                    <label asp-for="Measure" class="kt-label m-label--single"></label>
                </div>
                <div class="kt-form__control">
                    <input asp-for="Measure" class="form-control" required />
                </div>
            </div>
            <div class="d-md-none kt-margin-b-10"></div>
        </div>
        <div class="col-md-1">
            <div class="kt-form__group--inline">
                <div class="kt-form__label">
                    <label asp-for="MeasurementUnitId" class="kt-label m-label--single"></label>
                </div>
                <div class="kt-form__control">
                    <select asp-for="MeasurementUnitId" class="form-control kt-select2 select2-measurement-units" required data-placeholder="Unidad"></select>
                </div>
            </div>
            <div class="d-md-none kt-margin-b-10"></div>
        </div>
        <div class="col-md-1">
            <div class="kt-form__group--inline">
                <div class="kt-form__label">
                    <label asp-for="UnitPrice" class="kt-label m-label--single"></label>
                </div>
                <div class="kt-form__control">
                    <input asp-for="UnitPrice" class="form-control" required/>
                </div>
            </div>
            <div class="d-md-none kt-margin-b-10"></div>
        </div>
        <div class="col-md-2">
            <div class="kt-form__group--inline">
                <div class="kt-form__label">
                    <label asp-for="Comment" class="kt-label m-label--single"></label>
                </div>
                <div class="kt-form__control">
                    <input asp-for="Comment" class="form-control" />
                </div>
            </div>
            <div class="d-md-none kt-margin-b-10"></div>
        </div>
        <div class="col-md-1">
            <div class="kt-form__group--inline">
                <div class="kt-form__label">
                    <label>&emsp;</label>
                </div>
                <div class="kt-form__control">
                    <a href="javascript:;" data-repeater-delete class="btn-sm btn btn-label-danger btn-bold btn-icon">
                        <i class="la la-trash-o"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
-->