@model RequestDeliveryPlaceViewModel

<input asp-for="Id" hidden />


<div class="col-md-12">
    <div class="kt-form__group--inline">
        <div class="kt-form__label">
            <label asp-for="Description" class="kt-label m-label--single"></label>
        </div>
        <div class="kt-form__control">
            <input asp-for="Description" class="form-control" />
        </div>
    </div>
    <div class="d-md-none kt-margin-b-10"></div>
</div>