@model EquipmentCertificateUserOperatorViewModel

<input asp-for="Id" hidden/>

<div class="form-group row">
    <div class="col-lg-12">
        <label asp-for="Operator" class="label"></label>
        <input asp-for="Operator" class="form-control"/>
    </div>

</div>