@model BlueprintFoldingDetailViewModel

<input asp-for="Id" hidden />

<input asp-for="BlueprintFoldingId" hidden />

<div class="form-group row">

    <div class="col-lg-4">
        <label asp-for="DateType" class="label"></label>
        <div class="input-group">
            <input asp-for="DateType" class="form-control datepicker" required />
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">
                    <i class="fa fa-calendar"></i>
                </span>
            </div>
        </div>
    </div>

    <div class="col-lg-4 worker_group">
        <label asp-for="UserId" class="label"></label>
        <input asp-for="UserId" hidden />
        <select name="select_user" class="form-control kt-select select2-users">
        </select>
    </div>
</div>