<div class="form-group row">
    <div class="col-lg-4">
        <label class="label">Seleccione día</label>
        <div class="input-group">
            <input id="day_filter" class="form-control datepicker" required />
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">
                    <i class="fa fa-calendar"></i>
                </span>
            </div>
        </div>
    </div>
</div>
