@model ProfessionalExperienceFoldingViewModel

<input asp-for="Id" hidden />

<input asp-for="ProfessionalId" hidden/>

<div class="form-group row">

    <div class="col-lg-4">
        <label asp-for="BusinessId" class="label"></label>
        <input asp-for="BusinessId" hidden />
        <select name="select_business" class="form-control kt-select select2-businesses" data-placeholder="Empresas"></select>
    </div>

    <div class="col-lg-4">
        <label asp-for="BiddingWorkId" class="label"></label>
        <input asp-for="BiddingWorkId" hidden />
        <select name="select_work" class="form-control kt-select select2-works" data-placeholder="Obra"></select>
    </div>

    <div class="col-lg-4">
        <label asp-for="PositionId" class="label"></label>
        <input asp-for="PositionId" hidden />
        <select name="select_position" class="form-control kt-select select2-positions" data-placeholder="Obra"></select>
    </div>


    <div class="col-lg-6">
        <label asp-for="StartDate" class="label"></label>
        <div class="input-group">
            <input asp-for="StartDate" class="form-control datepicker" required />
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">
                    <i class="fa fa-calendar"></i>
                </span>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <label asp-for="EndDate" class="label"></label>
        <div class="input-group">
            <input asp-for="EndDate" class="form-control datepicker" required />
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">
                    <i class="fa fa-calendar"></i>
                </span>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <label asp-for="Observations" class="label"></label>
        <input asp-for="Observations" class="form-control" />
    </div>

    <div class="col-lg-12">
        <label asp-for="File" class="label"></label>
        <div class="custom-file">
            <input asp-for="File" type="file" class="custom-file-input" />
            <label class="custom-file-label" for="customFile">Escoge un archivo</label>
        </div>
    </div>

</div>