<div class="modal fade" id="detail_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-xxl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Detalle Pedido de Campo <br />
                    Fórmulas: <span id="project"></span> <br />
                    Frente: <span id="workfront"></span> <br />
                    Cuadrilla: <span id="sewergroup"></span> <br />
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div id="detail_alert" class="alert alert-danger alert-dismissible fade d-none" role="alert">
                    <span id="detail_alert_text"></span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="kt-portlet__head-toolbar">
                    <div class="kt-portlet__head-wrapper">
                        <div class="kt-portlet__head-actions">
                            <button type="button" class="btn btn-secondary" data-toggle="modal" id="addNewItem">
                                <!-- data-target="#add_item_modal" -->
                                <span><i class="la la-plus"></i><span>Agregar</span></span>
                            </button>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-bordered table-hover table-checkable datatable" id="detail_datatable" role="grid"></table>
            </div>
        </div>
    </div>
</div>