<div class="modal fade" id="workers_filter_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Obreros</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <div class="col-lg-12">
                            <label class="label">Cuadrillas</label>
                            <select id="worker_filter_sewergroup" class="form-control kt-select select2-sewergroups" data-placeholder="Cuadrillas">
                                <option>Todas</option>
                                </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-12">
                            <label class="label">Cuadrillas</label>
                            <select id="category_filter" class="form-control kt-select select2-categories" data-placeholder="Categorías">
                                <option>Todas</option>
                                @foreach (var item in ConstantHelpers.Worker.Category.VALUES)
                                {
                                    <option value="@item.Key">@item.Value</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        <i class="la la-close"></i>
                        Cerrar
                    </button>
                    <button id="btnWorkerFilters" class="btn btn-primary">
                        <i class="la la-filter"></i>
                        Aplicar
                    </button>
                </div>
        </div>
    </div>
</div>