@model LogisticResponsibleViewModel

<div class="form-group row">
    <div class="col-lg-12">
        <label asp-for="PreRequestAuthIds" class="label"></label>
        <select asp-for="PreRequestAuthIds" multiple class="form-control kt-select2 select2-users">
        </select>
    </div>

    <div class="col-lg-12">
        <label asp-for="SecondaryPreRequestAuthIds" class="label"></label>
        <select asp-for="SecondaryPreRequestAuthIds" multiple class="form-control kt-select2 select2-users">
        </select>
    </div>

    <div class="col-lg-12">
        <label asp-for="PreRequestOkIds" class="label"></label>
        <select asp-for="PreRequestOkIds" multiple class="form-control kt-select2 select2-users">
        </select>
    </div>

    <div class="col-lg-12">
        <label asp-for="PreRequestFailIds" class="label"></label>
        <select asp-for="PreRequestFailIds" multiple class="form-control kt-select2 select2-users">
        </select>
    </div>

    <div class="col-lg-12">
        <label asp-for="RequestReviewIds" class="label"></label>
        <select asp-for="RequestReviewIds" multiple class="form-control kt-select2 select2-users">
        </select>
    </div>

    <div class="col-lg-12">
        <label asp-for="RequestAuthIds" class="label"></label>
        <select asp-for="RequestAuthIds" multiple class="form-control kt-select2 select2-users">
        </select>
    </div>

    <div class="col-lg-12">
        <label asp-for="RequestOkIds" class="label"></label>
        <select asp-for="RequestOkIds" multiple class="form-control kt-select2 select2-users">
        </select>
    </div>

    <div class="col-lg-12">
        <label asp-for="RequestFailIds" class="label"></label>
        <select asp-for="RequestFailIds" multiple class="form-control kt-select2 select2-users">
        </select>
    </div>

    <div class="col-lg-12">
        <label asp-for="OrderReviewIds" class="label"></label>
        <select asp-for="OrderReviewIds" multiple class="form-control kt-select2 select2-users">
        </select>
    </div>

    <div class="col-lg-12">
        <label asp-for="OrderAuthIds" class="label"></label>
        <select asp-for="OrderAuthIds" multiple class="form-control kt-select2 select2-users">
        </select>
    </div>

    <div class="col-lg-12">
        <label asp-for="OrderOkIds" class="label"></label>
        <select asp-for="OrderOkIds" multiple class="form-control kt-select2 select2-users">
        </select>
    </div>

    <div class="col-lg-12">
        <label asp-for="OrderFailIds" class="label"></label>
        <select asp-for="OrderFailIds" multiple class="form-control kt-select2 select2-users">
        </select>
    </div>
</div>