
@{
    ViewData["Title"] = "Responsables de Logística";
    var canEdit = User.IsInAnyRole(ConstantHelpers.Permission.Logistics.FULL_ACCESS);
}

<div class="kt-portlet kt-portlet--tabs">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
                <i class="flaticon-list-2"></i>
            </span>
            <h3 class="kt-portlet__head-title">
                @ViewBag.Title
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">
                <div class="kt-portlet__head-actions">
                    @if (canEdit)
                    {
                        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#add_modal"><span><i class="la la-plus"></i><span>Nuevo</span></span></button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="kt-portlet__body">
        <table class="table table-striped table-bordered table-hover table-checkable datatable" id="log_responsibles_datatable" role="grid"></table>
    </div>
</div>

@if (canEdit)
{
    <partial name="_CreateModal" />
}


@section Scripts {
    @if (canEdit)
    {
        <script src="~/js/areas/logistics/logistic-responsibles/index.js"></script>
    }
    else
    {
        <script src="~/js/areas/logistics/logistic-responsibles/index.js"></script>
    }
}