@model FuelProviderViewModel

<input asp-for="Id" hidden />

<div class="form-group row">
    <div class="col-lg-6 worker_group">
        <label asp-for="ProviderId" class="label"></label>
        <input asp-for="ProviderId" hidden />
        <select name="select_provider" class="form-control kt-select select2-providers"></select>
    </div>
    @*<div class="col-lg-6">
        <label asp-for="CisternPlate" class="label"></label>
        <input asp-for="CisternPlate" class="form-control"  />
    </div>
    <div class="col-lg-6">
        <label asp-for="CisternPlate2" class="label"></label>
        <input asp-for="CisternPlate2" class="form-control"/>
    </div>*@



</div>