@model FuelProviderFoldingViewModel

<input asp-for="Id" hidden />

<input asp-for="FuelProviderId" hidden/>

<div class="form-group row">
    <div class="col-lg-6">
        <label asp-for="CisternPlate" class="label"></label>
        <input asp-for="CisternPlate" class="form-control"  />
    </div>
    
</div>