@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewBag.Title = "Iniciar Sesión";
    Layout = "_NotAuthenticatedLayout";
}

@section Styles {
    <link href="~/assets/css/pages/login/login-2.css" rel="stylesheet" />
}

<div class="kt-login__container">
    <div class="kt-login__logo">
        <a href="@Url.Action("Login", "Account")">
            <img src="~/media/logo-ivc.png">
        </a>
    </div>
    <div class="kt-login__signin">
        <div class="kt-login__head">
            <h3 class="kt-login__title">Iniciar Sesi&oacute;n</h3>
        </div>
        <form id="login_form" class="kt-form" asp-route-returnurl="@ViewData["ReturnUrl"]">
            @*<div id="signin_errors" class="alert alert-danger" style="display: @(!ViewData.ModelState.IsValid ? "block" : "none")">
                <div asp-validation-summary="All" class="text-danger"></div>
            </div>*@
            <div id="signin_errors" class="alert alert-danger @(ViewData.ModelState.IsValid ? "d-none" : string.Empty)" role="alert">
                <div class="alert-icon">
                    <i class="flaticon-warning-sign"></i>
                </div>
                <div id="signin_errors_text" class="alert-text">
                    <div asp-validation-summary="All" class="text-white"></div>
                </div>
                <div class="alert-close">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><i class="la la-close"></i></span>
                    </button>
                </div>
            </div>
            <div class="input-group">
                <input class="form-control" asp-for="Email" autocomplete="on">
            </div>
            <div class="input-group">
                <input class="form-control" asp-for="Password">
            </div>
            <div class="row kt-login__extra">
                <div class="col">
                    <label class="kt-checkbox">
                        <input asp-for="RememberMe" type="checkbox"> Recu&eacute;rdame
                        <span></span>
                    </label>
                </div>
                <div class="col kt-align-right">
                    <a href="javascript:;" id="kt_login_forgot" class="kt-link kt-login__link">¿Olvidaste tu contrase&ntilde;a?</a>
                </div>
            </div>
            <div class="kt-login__actions">
                <button id="kt_login_signin_submit" type="submit" class="btn btn-pill kt-login__btn-primary">Ingresar</button>
            </div>
        </form>
    </div>
    <div class="kt-login__forgot">
        <div class="kt-login__head">
            <h3 class="kt-login__title">¿Olvidaste tu contrasen&ntilde;a?</h3>
            <div class="kt-login__desc">Ingresa tu correo electr&oacute;nico para reiniciar tu contrasen&ntilde;a:</div>
        </div>
        <form class="kt-form" action="">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Email" name="email" id="kt_email" autocomplete="off">
            </div>
            <div class="kt-login__actions">
                <button id="kt_login_forgot_submit" class="btn btn-pill kt-login__btn-primary">Solicitar</button>&nbsp;&nbsp;
                <button id="kt_login_forgot_cancel" class="btn btn-pill kt-login__btn-secondary">Cancelar</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script src="~/js/pages/login.js"></script>
}
