@model WorkbookSeatViewModel

<input asp-for="Id" hidden />
<div class="form-group row">
    <div class="col-lg-4">
        <label asp-for="WorkbookId" class="label"></label>
        <select asp-for="WorkbookId" class="form-control kt-select2 select2-workbooks" required data-placeholder="Cuaderno de Obra"></select>
    </div>
    <div class="col-lg-4">
        <label asp-for="Number" class="label"></label>
        <input asp-for="Number" class="form-control" required />
    </div>
    <div class="col-lg-4">
        <label asp-for="WroteBy" class="label"></label>
        <select asp-for="WroteBy" class="form-control kt-select2 select2-wrotebys" required data-placeholder="Escribe">
            @foreach (var item in ConstantHelpers.Workbook.WroteBy.VALUES)
            {
                <option value="@item.Key">@item.Value</option>
            }
        </select>
    </div>
</div>
<div class="form-group row">
    <div class="col-lg-12">
        <label asp-for="Subject" class="label"></label>
        <input asp-for="Subject" class="form-control" required />
    </div>
</div>
<div class="form-group row">
    <div class="col-lg-4">
        <label asp-for="WorkbookTypeId" class="label"></label>
        <input asp-for="WorkbookTypeId" hidden />
        <select name="select_type" class="form-control kt-select select2-types"></select>
    </div>
    <div class="col-lg-4">
        <label asp-for="Status" class="label"></label>
        <select asp-for="Status" class="form-control kt-select2 select2-status" required data-placeholder="Estado">
            @foreach (var item in ConstantHelpers.Workbook.Status.VALUES)
            {
                <option value="@item.Key">@item.Value</option>
            }
        </select>
    </div>
    <div class="col-lg-4">
        <label asp-for="Date" class="label"></label>
        <div class="input-group">
            <input asp-for="Date" class="form-control datepicker" required />
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">
                    <i class="fa fa-calendar"></i>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-12">
    <label asp-for="Detail" class="label"></label>
    <textarea asp-for="Detail" class="form-control" rows="10"></textarea>
    @*<input asp-for="Name" class="form-control" />*@
</div>
<div class="form-group row">
    <div class="col-lg-12">
        <label asp-for="File" class="label"></label>
        <div class="custom-file">
            <input asp-for="File" type="file" class="custom-file-input" />
            <label class="custom-file-label" for="customFile">Escoge un archivo</label>
        </div>
    </div>
</div>