@model GeneralExpenseViewModel

<div class="form-group row">
    <div class="col-lg-12">
        <label asp-for="BudgetTitleId" class="label"></label>
        <input asp-for="BudgetTitleId" hidden />
        <select name="select_titles" class="form-control kt-select select2-titles"></select>
    </div>
</div>