<div class="modal fade" id="pdf_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-modal="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Archivo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <h5>Ingreso Material  <span id="pdf_name"></span></h5>
                <iframe id="pdf_frame" src="" frameborder="0" webkitallowfullscreen mozallowfullscrenn allowfullscrenn style="width: 100%; height: 600px;">
                </iframe>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        <i class="la la-close"> </i>
                        Cerrar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>