@model ExpensesUtilityViewModel

<input asp-for="Id" hidden />

<div class="form-group row">
    <div class="col-lg-6">
        <label asp-for="BudgetTypeId" class="label"></label>
        <input asp-for="BudgetTypeId" hidden />
        <select name="select_types" class="form-control kt-select select2-types"></select>
    </div>
    <div class="col-lg-6">
        <label asp-for="BudgetTitleId" class="label"></label>
        <input asp-for="BudgetTitleId" hidden />
        <select name="select_titles" class="form-control kt-select select2-titles"></select>
    </div>
</div>

<div class="form-group row">
    <div class="col-lg-6">
        <label asp-for="Group" class="label"></label>
        <input asp-for="Group" hidden />
        <select name="select_groups" class="form-control kt-select select2-groups">
            @foreach (var item in ConstantHelpers.Budget.Group.VALUES)
            {
                <option value="@item.Key">@item.Value</option>
            }
        </select>
    </div>
</div>

<div class="form-group row">
    <div class="col-lg-6">
        <label asp-for="FixedGeneralExpense" class="label"></label>
        <input asp-for="FixedGeneralExpense" class="form-control" />
    </div>
    <div class="col-lg-6">
        <label asp-for="VariableGeneralExpense" class="label"></label>
        <input asp-for="VariableGeneralExpense" class="form-control" />
    </div>
</div>

<div class="form-group row">
    <div class="col-lg-6">
        <label asp-for="UtilityPercentage" class="label"></label>
        <input asp-for="UtilityPercentage" class="form-control" />
    </div>
</div>

<div class="form-group">
    <label asp-for="File" class="label">Archivo:</label>
    <div class="custom-file">
        <input asp-for="File" type="file" class="custom-file-input" />
        <label class="custom-file-label" for="customFile">Escoge un archivo</label>
    </div>
</div>