
@{
    ViewBag.Title = "Equipos";
    ViewBag.SubTitle = "Listado de Equipos";
    var canEdit = User.IsInAnyRole(ConstantHelpers.Permission.EquipmentMachinery.FULL_ACCESS);
}

<div class="kt-portlet kt-portlet--tabs">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
                <i class="flaticon-list-2"></i>
            </span>
            <h3 class="kt-portlet__head-title">
                @ViewBag.SubTitle
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">
                <div class="kt-portlet__head-actions">
                    @if (canEdit)
                    {
                        <button type="button" class="btn btn-success btn-elevate btn-icon-sm" data-toggle="modal" data-target="#import_modal">
                            <i class="la la-upload"></i>
                            <span class="d-none d-lg-inline-block">Importar</span>
                        </button>
                        <button type="button" class="btn btn-brand btn-elevate btn-icon-sm" data-toggle="modal" data-target="#add_modal">
                            <i class="la la-plus"></i>
                            Nuevo
                        </button>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="kt-portlet__body">
        <table class="table table-striped table-bordered table-hover table-checkable datatable" id="equipment_datatable" role="grid"></table>
    </div>
</div>

@*<partial name="_CreateModal" />
    <partial name="_EditModal" />*@
@if (canEdit)
{
    <partial name="_ImportModal" />
}

@section Scripts {
    <script src="~/js/areas/equipment-machinery/equipment-registry/index.js"></script>
}