@model WeeklyAdvanceViewModel

<div class="form-group row">
    <div class="col-lg-6">
        <label asp-for="ProjectCalendarWeekId" class="label"></label>
        <input asp-for="ProjectCalendarWeekId" hidden />
        <select name="select_calendars" class="form-control kt-select select2-calendars"></select>
    </div>
    <div class="col-lg-6">
        <label asp-for="ProjectFormulaId" class="label"></label>
        <input asp-for="ProjectFormulaId" hidden />
        <select name="select_formulas" class="form-control kt-select select2-formulas"></select>
    </div>
</div>

<div class="form-group row">
    <div class="col-lg-6">
        <label asp-for="WorkFrontHeadId" class="label"></label>
        <input asp-for="WorkFrontHeadId" hidden />
        <select name="select_front_heads" class="form-control kt-select select2-front-heads"></select>
    </div>
    <div class="col-lg-6">
        <label asp-for="SewerGroupId" class="label"></label>
        <input asp-for="SewerGroupId" hidden />
        <select name="select_sewer_groups" class="form-control kt-select select2-sewer-groups"></select>
    </div>
</div>