@model IVC.PE.WEB.Areas.Finance.ViewModels.BondGuarantorViewModels.BondGuarantorViewModel
<input asp-for="Id" hidden />

<div class="form-group row">


    <div class="col-lg-6">
        <label asp-for="Name" class="label"></label>
        <select asp-for="Name" class="form-control kt-select select2-businesses" data-placeholder="Garante"></select>
    </div>

    
</div>