@model EmployeeViewModel

<input asp-for="Id" hidden />

<div class="form-group row">
    <div class="col-lg-6">
        <label asp-for="Name" class="label"></label>
        <input asp-for="Name" class="form-control" required />
    </div>
    <div class="col-lg-6">
        <label asp-for="MiddleName" class="label"></label>
        <input asp-for="MiddleName" class="form-control" required />
    </div>
</div>
<div class="form-group row">
    <div class="col-lg-4">
        <label asp-for="PaternalSurname" class="label"></label>
        <input asp-for="PaternalSurname" class="form-control" required />
    </div>
    <div class="col-lg-4">
        <label asp-for="MaternalSurname" class="label"></label>
        <input asp-for="MaternalSurname" class="form-control" required />
    </div>
</div>
<div class="form-group row">
    <div class="col-lg-6">
        <label asp-for="Email" class="label"></label>
        <input asp-for="Email" class="form-control" required />
    </div>
    <div class="col-lg-6">
        <label asp-for="PhoneNumber" class="label"></label>
        <input asp-for="PhoneNumber" class="form-control" required />
    </div>
</div>
<div class="form-group row">
    <div class="col-lg-4">
        <label asp-for="DocumentType" class="label"></label>
        <select asp-for="DocumentType" class="form-control kt-select2 select2-document-types">
            @foreach (var item in ConstantHelpers.DocumentType.VALUES)
            {
            <option value="@item.Key">@item.Value</option>
            }
        </select>
    </div>
    <div class="col-lg-8">
        <label asp-for="Document" class="label"></label>
        <input asp-for="Document" class="form-control" />
    </div>
</div>
<div class="form-group row">
    <div class="col-lg-4">
        <label asp-for="EntryDate" class="label"></label>
        <div class="input-group">
            <input asp-for="EntryDate" class="form-control datepicker" required />
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">
                    <i class="fa fa-calendar"></i>
                </span>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <label asp-for="WorkArea" class="label"></label>
        <select asp-for="WorkArea" class="form-control kt-select2 select2-work-areas" required>
            @foreach(var item in ConstantHelpers.Employee.WorkArea.VALUES)
            {
            <option value="@item.Key">@item.Value</option>
            }
        </select>
    </div>
    <div class="col-lg-4">
        <label asp-for="BirthDate" class="label"></label>
        <div class="input-group">
            <input asp-for="BirthDate" class="form-control datepicker" required />
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">
                    <i class="fa fa-calendar"></i>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="form-group row">
    <div class="col-lg-6">
        <label asp-for="PensionFundAdministratorId" class="label"></label>
        <input asp-for="PensionFundAdministratorId" class="form-control kt-select2 select2-pension-fund-administrators" />
    </div>
    <div class="col-lg-6">
        <label asp-for="PensionFundUniqueIdentificationCode" class="label"></label>
        <input asp-for="PensionFundUniqueIdentificationCode" class="form-control" />
    </div>
</div>
<div class="form-group row">
    <div class="col-lg-6">
        <label asp-for="EntryPosition" class="label"></label>
        <select asp-for="EntryPosition" class="form-control kt-select2 select2-work-positions" required ></select>
    </div>
    <div class="col-lg-6">
        <label asp-for="CurrentPosition" class="label"></label>
        <select asp-for="CurrentPosition" class="form-control kt-select2 select2-work-positions"></select>
    </div>
</div>