

@model MeteredsRestatedByStreetchViewModel
<div class="form-group row">
    <div class="col-lg-6">
        <label asp-for="ProjectFormulaId" class="label"></label>
        <input asp-for="ProjectFormulaId" hidden />
        <select name="select_project_formulas" class="form-control kt-select select2-project-formulas"></select>
    </div>
    <div class="col-lg-6">
        <label asp-for="BudgetTitleId" class="label"></label>
        <input asp-for="BudgetTitleId" hidden />
        <select name="select_titles" class="form-control kt-select select2-titles"></select>
    </div>
</div>
