<div class="modal fade" id="sheduler_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-modal="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Planificador</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form id="sheduler_form" class="form form-horizontal" role="form">
                <div class="modal-body">
                    <div id="sheduler_alert" class="alert alert-danger alert-dismissible fade d-none" role="alert">
                        <span id="sheduler_alert_text"></span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <partial name="_ShedulerFields" />

                    <div id="gant"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        <i class="la la-close"></i>
                        Cerrar
                    </button>
                    <button type="submit" class="btn btn-primary">
                        <i class="la la-table"></i>
                        Generar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
