@model LetterResponsibleViewModel

<div class="form-group row">

    <div class="col-lg-12">
        <label asp-for="ProjectId" class="label"></label>
        <input asp-for="ProjectId" hidden />
        <select name="select_project" class="form-control kt-select select2-projects" data-placeholder="Proyecto"></select>
    </div>

    <div class="col-lg-12">
        <label asp-for="Responsibles" class="label"></label>
        <input asp-for="Responsibles" multiple hidden />
        <select name="select_users" class="form-control kt-select select2-users" multiple data-placeholder="Encargado"></select>
    </div>

</div>