
@{
    ViewBag.Title = "Reporte Diario de Producción";
    ViewBag.SubTitle = "Filtros";
    ViewBag.Forms = "Formulario RDP";
}

<div class="kt-portlet kt-portlet--tabs">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
                <i class="flaticon-list-2"></i>
            </span>
            <h3 class="kt-portlet__head-title">
                @ViewBag.SubTitle
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">
                <div class="kt-portlet__head-actions">
                    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#import_accumulated_modal">
                            <span>
                                <i class="la la-upload"></i>
                                <span>Importar Acumulados Iniciales</span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="kt-portlet__body">
        <partial name="_SearchFields" />
    </div>
</div>
<div class="kt-portlet kt-portlet--tabs">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
                <i class="flaticon-list-2"></i>
            </span>
            <h3 class="kt-portlet__head-title">
                @ViewBag.Forms
            </h3>
        </div>
    </div>
    <div class="kt-portlet__body">
        <div id="rdp_items"></div>
    </div>
</div>

<partial name="_ImportAccumulatedModal" />

@section Scripts {
    <script src="~/js/areas/production/rdpreport/index.js"></script>
}

