
@{
    ViewData["Title"] = "Colector de Descarga - Proyecto";
}

<div class="kt-portlet kt-portlet--tabs">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                @ViewBag.Title
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">
                <div class="kt-portlet__head-actions">
                    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#project_import_modal">
                            <span>
                                <i class="la la-arrow-up"></i>
                                <span>Importar Carga Masiva</span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="kt-portlet__body">
        <table class="table table-striped table-bordered table-hover table-checkable datatable" id="project_datatable" role="grid">
            <thead>
                <tr>
                    <th rowspan="2" style="text-align: center;">Dirección</th>
                    <th colspan="9" style="text-align: center;">BZ (i) Aguas Arriba</th>
                    <th colspan="9" style="text-align: center;">BZ (j) Aguas Abajo</th>
                    <th colspan="11" style="text-align: center;">Tramos</th>
                    <th colspan="4" style="text-align: center;">Tipo de Pavimento</th>
                    <th rowspan="2" style="text-align: center;">Opciones</th>
                </tr>
                <tr>
                    <th>Nº</th>
                    <th>Cota Tapa</th>
                    <th>Cota Llegada</th>
                    <th>Cota Fondo</th>
                    <th>h BZ</th>
                    <th>TT</th>
                    <th>Tipo de Buz&oacute;n</th>
                    <th>Di&aacute;metro</th>
                    <th>Espesor</th>
                    <th>Nº</th>
                    <th>Cota Tapa</th>
                    <th>Cota Llegada</th>
                    <th>Cota Fondo</th>
                    <th>h BZ</th>
                    <th>TT</th>
                    <th>Tipo de Buz&oacute;n</th>
                    <th>Di&aacute;metro</th>
                    <th>Espesor</th>
                    <th>Nombre</th>
                    <th>h Zanja</th>
                    <th>%</th>
                    <th>DN (mm)</th>
                    <th>Tipo de Tuber&iacute;a</th>
                    <th>Clase</th>
                    <th>Long. Entre Ejes H</th>
                    <th>Long. Entre Ejes I</th>
                    <th>Long. Tuber&iacute;a Instalada</th>
                    <th>TT</th>
                    <th>Long. Excavada</th>
                    <th>Asfalto 2" (m&sup2;)</th>
                    <th>Asfalto 3" (m&sup2;)</th>
                    <th>Asfalto 3" Mixto(m&sup2;)</th>
                    <th>Ancho</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<partial name="_ProjectEditModal" />
<partial name="_ProjectImportModal" />

@section Scripts {
    <script src="~/js/areas/technical-office/manifold-network-project/index.js"></script>
}

