@model EquipmentMachineryTransportPartViewModel

<input asp-for="Id" hidden />

<div class="form-group row">

    @*<div class="col-lg-6 worker_group">
        <label asp-for="UserId" class="label"></label>
        <input asp-for="UserId" hidden />
        <select name="select_user" class="form-control kt-select select2-users"></select>
    </div>*@
</div>