@{
    ViewBag.Title = "Parte Combustible Equipos Transportes";
    ViewBag.SubTitle = "Listado de Parte Combustible Equipos Transportes";
    var canEdit = User.IsInAnyRole(ConstantHelpers.Permission.EquipmentMachinery.FULL_ACCESS);
}

<div class="kt-portlet kt-portlet--tabs">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
                <i class="flaticon-list-2"></i>
            </span>
            <h3 class="kt-portlet__head-title">
                @ViewBag.SubTitle
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">
                <div class="kt-portlet__head-actions">
                    @if (canEdit)
                    {
                        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#add_modal"><span><i class="la la-plus"></i><span>Nuevo</span></span></button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="kt-portlet__body">
        <div class="form-group row">

            <div class="col-md-2">
                <label class="col-form-label">Año</label>
                <select id="year_filter" name="select_year_filter" class="form-control kt-select select2-years" data-placeholder="Año Folding">
                    <option>Seleccione un Año</option>
                </select>
            </div>

            <div class="col-md-2">
                <label class="col-form-label">Mes</label>
                <select id="month_filter" name="select_month_filter" class="form-control kt-select select2-months" data-placeholder="Mes Folding">
                    <option>Seleccione un Mes</option>
                    
                    @foreach (var item in ConstantHelpers.EquipmentMachinery.EquipmentMachineryOperator.MONTH_VALUE_NULLABLE)
                    {
                        <option value="@item.Key">@item.Value</option>
                    }
                </select>
            </div>




            <div class="col-md-4">
                <label class="col-form-label">Semana</label>
                <select id="week_filter" name="select_week_filter" class="form-control kt-select select2-weeks" data-placeholder="Semana Folding">
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-4">
                <label class="col-form-label">Proveedor de Equipos</label>
                <select id="provider_filter" name="select_provider_filter" class="form-control kt-select select2-providers2" data-placeholder="Proveedor de Equipos">
                    <option>Todos</option>
                </select>
            </div>

            <div class="col-md-3">
                <label class="col-form-label">Tipo de Equipo</label>
                <select id="transport_filter" name="select_transport_filter" class="form-control kt-select select2-transports" data-placeholder="Tipo de Equipo">
                    <option>Todos</option>
                </select>
            </div>

            <div class="col-md-5">
                <label class="col-form-label">Nombre de Equipo</label>
                <select id="part_filter" name="select_part_filter" class="form-control kt-select select2-parts" data-placeholder="Tipo de Equipo">
                    <option>Todos</option>
                </select>
            </div>

        </div>
        <table class="table table-striped table-bordered table-hover table-checkable datatable" id="main_datatable" role="grid"></table>
    </div>
</div>

@if (canEdit)
{
    <partial name="_CreateModal" />
    <partial name="_EditModal" />
    <partial name="_CreateFoldingModal" />
    <partial name="_EditFoldingModal" />

}

<partial name="_DetailModal" />
<partial name="_DetailModal2" />
@section Scripts {
    @if (canEdit)
    {
        <script src="~/js/areas/equipment-machinery/equipment-fuel-part/index.js"></script>
    }
    else
    {
        <script src="~/js/areas/equipment-machinery/equipment-fuel-part/index.js"></script>
    }
}