@model PayrollConceptFormulaViewModel

<input asp-for="Id" hidden />
<input asp-for="PayrollConceptId" value="@ViewBag.PayrollConceptId" hidden />

<div class="form-group row">
    <div class="col-lg-8">
        <label asp-for="LaborRegimeId" class="label"></label>
        <select asp-for="LaborRegimeId" class="form-control kt-select2 select2-formula-categories">
            @foreach (var item in ConstantHelpers.PayrollConceptFormula.LaborRegime.VALUES)
            {
                <option value="@item.Key">@item.Value</option>
            }
        </select>
    </div>
    <div class="col-lg-4">
        <label asp-for="Active" class="label"></label>
        <select asp-for="Active" class="form-control kt-select2">
            <option value="true" selected>Sí</option>
            <option value="false">No</option>
        </select>
    </div>
</div>
<div class="form-group row">
    <div class="col-lg-8">
        <label asp-for="Formula" class="label"></label>
        <input asp-for="Formula" class="form-control" />
    </div>
    <div class="col-lg-4">
        <label asp-for="PayrollVariableId" class="label"></label>
        <select asp-for="PayrollVariableId" class="form-control kt-select2 select2-payroll-variables">
        </select>
    </div>
</div>
<div class="form-group row">
    <div class="col-lg-6">
        <label asp-for="IsAffectedToAfp" class="label"></label>
        <select asp-for="IsAffectedToAfp" class="form-control kt-select2">
            <option value="true">Sí</option>
            <option value="false">No</option>
        </select>
    </div>
    <div class="col-lg-6">
        <label asp-for="IsAffectedToEsSalud" class="label"></label>
        <select asp-for="IsAffectedToEsSalud" class="form-control kt-select2">
            <option value="true">Sí</option>
            <option value="false">No</option>
        </select>
    </div>
</div>
<div class="form-group row">
    <div class="col-lg-6">
        <label asp-for="IsAffectedToOnp" class="label"></label>
        <select asp-for="IsAffectedToOnp" class="form-control kt-select2">
            <option value="true">Sí</option>
            <option value="false">No</option>
        </select>
    </div>
    <div class="col-lg-6">
        <label asp-for="IsAffectedToQta" class="label"></label>
        <select asp-for="IsAffectedToQta" class="form-control kt-select2">
            <option value="true">Sí</option>
            <option value="false">No</option>
        </select>
    </div>
</div>
<div class="form-group row">
    <div class="col-lg-6">
        <label asp-for="IsAffectedToRetJud" class="label"></label>
        <select asp-for="IsAffectedToRetJud" class="form-control kt-select2">
            <option value="true">Sí</option>
            <option value="false">No</option>
        </select>
    </div>
    <div class="col-lg-6">
        <label asp-for="IsComputableToCTS" class="label"></label>
        <select asp-for="IsComputableToCTS" class="form-control kt-select2">
            <option value="true">Sí</option>
            <option value="false">No</option>
        </select>
    </div>
</div>
<div class="form-group row">
    <div class="col-lg-6">
        <label asp-for="IsComputableToGrati" class="label"></label>
        <select asp-for="IsComputableToGrati" class="form-control kt-select2">
            <option value="true">Sí</option>
            <option value="false">No</option>
        </select>
    </div>
    <div class="col-lg-6">
        <label asp-for="IsComputableToVacac" class="label"></label>
        <select asp-for="IsComputableToVacac" class="form-control kt-select2">
            <option value="true">Sí</option>
            <option value="false">No</option>
        </select>
    </div>
</div>