<div class="form-group row">
    <div class="col-lg-6">
        <label class="label">Projecto</label>
        <select id="project_filter" class="form-control kt-select2 select2-projects" required></select>
    </div>
    <div class="col-lg-2">
        <label class="label">Año</label>
        <input id="year_filter" class="form-control" value="@DateTime.Now.Year" required />
    </div>
    <div class="col-lg-4">
        <label class="label">Seleccione Semana</label>
        <select id="week_filter" class="form-control kt-select2 select2-weeks" required></select>
    </div>
</div>