
/* Print Invoice
-------------------------------------------------- */
body {
    font-family: Poppins, Helvetica, sans-serif;
    font-size: 9px;
    background-color: #fff;
}

.receipt {
    float:left;
    padding: 0.5cm;
}

.output {
    width: 297mm;
    height: 205mm;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    vertical-align: central;
}

@media print {
    @page {
        size: A4 landscape;
        margin-left: 2.5mm;
        margin-top: 0mm;
        margin-right: 0mm;
        margin-bottom: 0mm;
        overflow: hidden;
    }

    .output {
        max-height: 210mm;
        page-break-inside: avoid;
        page-break-after: always;
    }
}

/*
.receipt {
    min-width: 50%;
    padding: 0.5cm;
}

.output {
    min-width: 297mm;
    min-height: 210mm;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

@media print {
    @page {
        size: A4 landscape;
        margin: 0;
        overflow: hidden;
    }

    .output {
        margin: 0;
        max-height: 210mm;
        background: initial;
        page-break-after: always;
    }
}*/