body {
    font-family: Poppins, Helvetica, sans-serif;
    font-size: 9px;
    background-color: #fff;
}

.receipt {
    float: left;
    padding: 0.5cm;
}

.output {
    width: 210mm;
    height: 292mm;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    vertical-align: central;
}

@media print {
    @page {
        size: A4;
        margin: 2.5mm;
    }

    .output {
        max-height: 297mm;
        page-break-inside: avoid;
        page-break-after: always;
    }
}
