@{
    ViewBag.Title = "Operadores";
    var canEdit = User.IsInAnyRole(ConstantHelpers.Permission.EquipmentMachinery.FULL_ACCESS);
}

<div class="kt-portlet kt-portlet--tabs">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title" id="datatable_portlet_title">
                Operadores
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">
                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                    <button type="button" class="btn btn-secondary btn-export"><span><i class="la la-download"></i><span>Exportar</span></span></button>
                    @if (canEdit)
                    {
                        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#add_modal">
                            <span>
                                <i class="la la-plus"></i><span>
                                    Nuevo
                                </span>
                            </span>
                        </button>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="kt-portlet__body">
        <div class="form-group row">

            <div class="col-md-2">
                <label class="col-form-label">Contratación</label>
                <select id="hiring_filter" name="select_hiring_filter" class="form-control kt-select select2-hirings_filters" data-placeholder="Tipo de Contratación">
                    @foreach (var item in ConstantHelpers.EquipmentMachinery.EquipmentMachineryOperator.HIRING_TYPE)
                    {
                        if (item.Key != 0)
                        {
                            <option value="@item.Key">@item.Value</option>
                        }
                    }
                </select>
            </div>
            <div class="col-md-3">
                <label class="col-form-label">Clase de Equipo</label>
                <select id="equipment_filter" class="form-control kt-select2 select2-machinerys2">
                    <option>Todos</option>
                </select>
            </div>

            <div class="col-md-3">
                <label class="col-form-label">Tipo de Equipo</label>
                <select id="type_filter" class="form-control kt-select2 select2-types">
                    <option>Todos</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped table-bordered table-hover table-checkable datatable" id="main_datatable" role="grid"></table>
            </div>
        </div>
    </div>
</div>

@if (canEdit)
{
    <partial name="_CreateModal" />
    <partial name="_EditModal" />
}

<partial name="_PdfModal" />

@section Scripts {
    @if (canEdit)
    {
        <script src="~/js/areas/equipment-machinery/equipment-machinery-operator/index.js"></script>
    }
    else
    {
        <script src="~/js/areas/equipment-machinery/equipment-machinery-operator/index.js"></script>
    }
}
