@model SteelVariableViewModel

<input asp-for="Id" hidden />


<div class="form-group row">
    <div class="col-lg-6">
        <label class="label">Familia</label>
        <select id="select_supply_families_filter" class="form-control kt-select2 select2-supply-families-filter"></select>
    </div>
    <div class="col-lg-6">
        <label class="label">Grupo</label>
        <select id="select_supply_groups_filter" class="form-control kt-select2 select2-supply-groups-filter"></select>
    </div>
</div>

<div class="form-group row">
    <div class="col-lg-4">
        <button id="SearchSelectSupply" type="button" class="search-supply btn btn-secondary">Buscar</button>
    </div>
</div>


<div class="form-group row">
    <div class="col-lg-12">
        <label asp-for="SupplyId" class="label"></label>
        <input asp-for="SupplyId" hidden />
        <select name="select_supplies" class="form-control kt-select select2-supplies"></select>
    </div>
</div>


<div class="form-group row">
    <div class="col-lg-12">
        <label asp-for="BudgetInputId" class="label"></label>
        <input asp-for="BudgetInputId" hidden />
        <select name="select_budget_inputs" class="form-control kt-select select2-budget-inputs"></select>
    </div>
</div>

<h5>Diámetro de Varilla</h5>

<div class="form-group row">
    <div class="col-lg-6">
        <label asp-for="RodDiameterInch" class="label"></label>
        <input asp-for="RodDiameterInch" class="form-control" />
    </div>
    <div class="col-lg-6">
        <label asp-for="RodDiameterMilimeters" class="label"></label>
        <input asp-for="RodDiameterMilimeters" class="form-control" />
    </div>
</div>

<hr />

<div class="form-group row">
    <div class="col-lg-6">
        <label asp-for="Section" class="label"></label>
        <input asp-for="Section" class="form-control" />
    </div>
    <div class="col-lg-6">
        <label asp-for="Perimeter" class="label"></label>
        <input asp-for="Perimeter" class="form-control" />
    </div>
</div>

<div class="form-group row">
    <div class="col-lg-6">
        <label asp-for="NominalWeight" class="label"></label>
        <input asp-for="NominalWeight" class="form-control" />
    </div>
</div>
