@model SupplyGroupViewModel


<div class="form-group row">
    <div class="col-lg-12">
        <label asp-for="SupplyFamilyId" class="label"></label>
        <input asp-for="SupplyFamilyId" class="form-control" hidden />
        <select name="select_supply_family" class="form-control kt-select select2-supply-family"></select>
    </div>
</div>
