
@{
    ViewBag.Title = "Grupos de Insumos";
    ViewBag.SubTitle = "Listado de Grupos de Insumos";
    var canEdit = User.IsInAnyRole(ConstantHelpers.Permission.Logistics.FULL_ACCESS);
}

<div class="kt-portlet kt-portlet--tabs">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
                <i class="flaticon-list-2"></i>
            </span>
            <h3 class="kt-portlet__head-title">
                @ViewBag.SubTitle
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">
                <div class="kt-portlet__head-actions">
                    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                        <a asp-action="Export" class="btn btn-secondary btn-export"><span><i class="la la-download"></i><span>Exportar</span></span></a>
                        @if (canEdit)
                        {
                            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#import_modal">
                                <span>
                                    <i class="la la-upload"></i>
                                    <span>Importar</span>
                                </span>
                            </button>
                            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#add_modal"><span><i class="la la-plus"></i><span>Nuevo</span></span></button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="kt-portlet__body">
        <div class="form-group row">
            <div class="col-md-3">
                <label class="col-form-label">Familias</label>
                <select id="budget_supplyfamily_filter" class="form-control kt-select2 select2-supplyfamily_filter">
                    <option>Todos</option>
                </select>
            </div>
        </div>
        <table class="table table-striped table-bordered table-hover table-checkable datatable" id="supply_group_datatable" role="grid"></table>
    </div>
</div>

@if (canEdit)
{
    <partial name="_CreateModal" />
    <partial name="_EditModal" />
    <partial name="_ImportModal" />
}

@section Scripts {
    @if (canEdit)
    {
        <script src="~/js/areas/logistics/supply-group/index.js"></script>
    }
    else
    {
        <script src="~/js/areas/logistics/supply-group/readonly-index.js"></script>
    }
}