@model PayrollConceptFormulaViewModel

<input asp-for="Id" hidden />

<div class="form-group row">
    <div class="col-lg6">
        <label asp-for="IsAffectedToEsSalud" class="kt-label">
            <input asp-for="IsAffectedToEsSalud" class="form-control"/>
        </label>        
    </div>
    <div class="col-lg6">
        <label asp-for="IsAffectedToOnp" class="kt-label">
            <input asp-for="IsAffectedToOnp" class="form-control" />
        </label>
    </div>
</div>