@model WorkerPayrollDetailViewModel

<input asp-for="Id" hidden />
<input asp-for="PayrollMovementHeaderId" hidden />
<input asp-for="WorkerId" hidden />
<input asp-for="PayrollConceptId" hidden />

<div class="form-group row">
    <div class="col-lg-12">
        <label class="label">Nuevo Valor</label>
        <input asp-for="Value" class="form-control" />
    </div>
</div>