@model EquipmentCertificateOwnerViewModel

<input asp-for="Id" hidden />

<div class="form-group row">
    <div class="col-lg-12">
        <label asp-for="OwnerName" class="label"></label>
        <input asp-for="OwnerName" class="form-control" required />
    </div>

</div>